ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-description {
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: inherit;
}
